StsService/src/main/resources/META-INF/newapi/ws-trust-1.4-service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
        targetNamespace="http://docs.oasis-open.org/ws-sx/ws-trust/200512/wsdl"
        xmlns:tns="http://docs.oasis-open.org/ws-sx/ws-trust/200512/wsdl"
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:wstrust="http://docs.oasis-open.org/ws-sx/ws-trust/200512/"
        xmlns:wsap10="http://www.w3.org/2006/05/addressing/wsdl"
	    xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	    xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512"
	    xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">

  <wsdl:import namespace="http://docs.oasis-open.org/ws-sx/ws-trust/200512/wsdl" location="ws-trust-1.4.wsdl"/>

  <wsdl:binding name="SecurityTokenServiceSOAP" type="tns:SecurityTokenService">
  	<wsp:PolicyReference URI="#UT_policy" />
  	<soap:binding style="document"
  		transport="http://schemas.xmlsoap.org/soap/http" />
  	<wsdl:operation name="Cancel">
  		<soap:operation
  			soapAction="http://docs.oasis-open.org/ws-sx/ws-trust/200512/RST/Cancel" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="Issue">
  		<soap:operation
  			soapAction="http://docs.oasis-open.org/ws-sx/ws-trust/200512/RST/Issue" />
  		<wsdl:input>
  			<wsp:PolicyReference URI="#Input_policy" />
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<wsp:PolicyReference URI="#Output_policy" />
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="Renew">
  		<soap:operation
  			soapAction="http://docs.oasis-open.org/ws-sx/ws-trust/200512/RST/Renew" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="Validate">
  		<soap:operation
  			soapAction="http://docs.oasis-open.org/ws-sx/ws-trust/200512/RST/Validate" />
  		<wsdl:input>
  			<wsp:PolicyReference URI="#Input_policy" />
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<wsp:PolicyReference URI="#Output_policy" />
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="KeyExchangeToken">
  		<soap:operation
  			soapAction="http://docs.oasis-open.org/ws-sx/ws-trust/200512/RST/KeyExchangeToken" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="RequestCollection">
  		<soap:operation
  			soapAction="http://docs.oasis-open.org/ws-sx/ws-trust/200512/RST/RequestCollection" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  
  <wsp:Policy wsu:Id="UT_policy">
      <wsp:ExactlyOne>
         <wsp:All>
            <wsap10:UsingAddressing/>
            <sp:SymmetricBinding
               xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
               <wsp:Policy>
                  <sp:ProtectionToken>
                     <wsp:Policy>
                        <sp:X509Token
                           sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/Never">
                           <wsp:Policy>
                              <sp:RequireDerivedKeys />
                              <sp:RequireThumbprintReference />
                              <sp:WssX509V3Token10 />
                           </wsp:Policy>
                        </sp:X509Token>
                     </wsp:Policy>
                  </sp:ProtectionToken>
                  <sp:AlgorithmSuite>
                     <wsp:Policy>
                        <sp:Basic256 />
                     </wsp:Policy>
                  </sp:AlgorithmSuite>
                  <sp:Layout>
                     <wsp:Policy>
                        <sp:Lax />
                     </wsp:Policy>
                  </sp:Layout>
                  <sp:IncludeTimestamp />
                  <sp:EncryptSignature />
                  <sp:OnlySignEntireHeadersAndBody />
               </wsp:Policy>
            </sp:SymmetricBinding>
            <sp:SignedSupportingTokens
               xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
               <wsp:Policy>
                  <sp:UsernameToken
                     sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
                     <wsp:Policy>
                        <sp:WssUsernameToken10 />
                     </wsp:Policy>
                  </sp:UsernameToken>
               </wsp:Policy>
            </sp:SignedSupportingTokens>
            <sp:Wss11
               xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
               <wsp:Policy>
                  <sp:MustSupportRefKeyIdentifier />
                  <sp:MustSupportRefIssuerSerial />
                  <sp:MustSupportRefThumbprint />
                  <sp:MustSupportRefEncryptedKey />
               </wsp:Policy>
            </sp:Wss11>
            <sp:Trust13
               xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
               <wsp:Policy>
                  <sp:MustSupportIssuedTokens />
                  <sp:RequireClientEntropy />
                  <sp:RequireServerEntropy />
               </wsp:Policy>
            </sp:Trust13>
         </wsp:All>
      </wsp:ExactlyOne>
   </wsp:Policy>

    <wsp:Policy wsu:Id="Input_policy">
        <wsp:ExactlyOne>
            <wsp:All>
                <sp:SignedParts
                    xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
                    <sp:Body />
                    <sp:Header Name="To"
                        Namespace="http://www.w3.org/2005/08/addressing" />
                    <sp:Header Name="From"
                        Namespace="http://www.w3.org/2005/08/addressing" />
                    <sp:Header Name="FaultTo"
                        Namespace="http://www.w3.org/2005/08/addressing" />
                    <sp:Header Name="ReplyTo"
                        Namespace="http://www.w3.org/2005/08/addressing" />
                    <sp:Header Name="MessageID"
                        Namespace="http://www.w3.org/2005/08/addressing" />
                    <sp:Header Name="RelatesTo"
                        Namespace="http://www.w3.org/2005/08/addressing" />
                    <sp:Header Name="Action"
                        Namespace="http://www.w3.org/2005/08/addressing" />
                </sp:SignedParts>
                <sp:EncryptedParts
                    xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
                    <sp:Body />
                </sp:EncryptedParts>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>

    <wsp:Policy wsu:Id="Output_policy">
        <wsp:ExactlyOne>
            <wsp:All>
                <sp:SignedParts
                    xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
                    <sp:Body />
                    <sp:Header Name="To"
                        Namespace="http://www.w3.org/2005/08/addressing" />
                    <sp:Header Name="From"
                        Namespace="http://www.w3.org/2005/08/addressing" />
                    <sp:Header Name="FaultTo"
                        Namespace="http://www.w3.org/2005/08/addressing" />
                    <sp:Header Name="ReplyTo"
                        Namespace="http://www.w3.org/2005/08/addressing" />
                    <sp:Header Name="MessageID"
                        Namespace="http://www.w3.org/2005/08/addressing" />
                    <sp:Header Name="RelatesTo"
                        Namespace="http://www.w3.org/2005/08/addressing" />
                    <sp:Header Name="Action"
                        Namespace="http://www.w3.org/2005/08/addressing" />
                </sp:SignedParts>
                <sp:EncryptedParts
                    xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
                    <sp:Body />
                </sp:EncryptedParts>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>

  <wsdl:service name="SecurityTokenService">
    <wsdl:port binding="tns:SecurityTokenServiceSOAP" name="STS_Port">
      <soap:address location="http://localhost:8080/StsService/STS"/>
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>